body {
    background-color: #1e1e1e;
}
a {
    cursor: pointer;
}
.top-header {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    
    }
.top-header-logo {
    width: fit-content;
    height: 100%;
    padding-left: 60px;
    display: flex;
    
}
.top-header-logo img {
    height: 40px;
    align-self: center;
}
.top-header-nav {
    width: fit-content;
    height: 100%;
    
}
.top-header-nav ul {
    list-style: none;
    margin-left: 30px;
    
}
.top-header-nav ul li {
    display: inline;
    float: left;
    
}
.top-header-nav ul li a {
    padding: 0 10px;
    line-height: 60px;
    display: block;
    height: 100%;
    text-decoration: none;
}
.top-header-nav ul li a:hover {
    color: aqua;
}

.top-header-sm {
    width: fit-content;
    height: 100%;
    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.top-header-sm-fb {
    width: 20px;
    height: 20px;
    background-image: url(facebook.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.top-header-sm-insta {
    width: 20px;
    height: 20px;
    background-image: url(instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-header {
    
    color: rgba(0, 0, 0, 0.5);
}

.home-header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(spacex.jpg);
    background-size: cover;
}
.banner-text{
    font-size: 36px;
    color: white;
    padding-left: 5%;
    padding-top: 220px;
    padding-bottom: 220px;
}
.banner-text .btn-primary{
    background-image: linear-gradient( #fff,#fff);
    border: none;
    box-shadow: none;
    font-size: 12px;
    padding: 15px 30px;
    margin-top: 10px;
    text-decoration: none;
}
